name: CI (Main)
on:
    push:
        branches:
            - main

jobs:
    main-ci:
        name: Build and Test (Main)
        runs-on: ubuntu-latest
        steps:
            - name: checkout repo
              uses: actions/checkout@v6

            - name: setup node
              uses: actions/node-setup@v6
              with:
                  node-version: "18.x"
                  cache: "npm"

            - run: npm ci
            - run: npm run build
            - run: "no test yet"

            - name: Upload production artifact
              uses: actions/upload-artifact@v4
              with:
                  name: production-build
                  path: ./out
                  retention-days: 1
