name: CI (Feature & PR)
on:
  pull_request:
  push:
    branches-ignore:
      - main

jobs:
  ci:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v6

      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version: "18.x"
          cache: "npm"

      - run: npm ci
      - run: npm run build
      - run: echo "no tests yet"

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: pr-preview
          path: ./out
          retention-days: 1
